name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: '24'
        cache: 'npm'
    - run: npm ci --prefer-offline --no-audit --no-fund
    - run: npm run build -- --base-href=/${{ github.event.repository.name }}/
    - uses: actions/upload-pages-artifact@v4
      with:
        path: ./dist/${{ github.event.repository.name }}/browser
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment